@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root{
    --header-height:3.5rem;
   

    /* ====Colours==== */
    --container-color: #151515;
    --white-color:#ffff;
    --text-color: #C0C0C0;;
    --text-color-2: #808080;


    /* ====Font and Typography===== */
    --body-font: 'Bai Jamjuree', sans-serif;
    --biggest-font-size:2.5rem;
    --h1-font-size:1.75rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.15rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;


    /*====Font weight===== */
    --font-regular:400;
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;

    /* ======z index====== */

        --z-tooltip:10;
        --z-fixed:100;
    
}

@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size: 4.5rem;
        --h1-font-size:3rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;

    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--container-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--text-color);
    font-weight:var(--font-bold) ;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    
}


.nav-item_link{
    color: var(--text-color-2);
    font-size: 1.4rem;
    
}

.connect{
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin: 2rem;
    font-size: 1.4rem;
}

.nav-name a,
.nav__close,
.nav__toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white-color);
    
}

.nav-name a{
    padding-left: 1rem;
}
 .nav__toggle,
 .nav__close{
    font-size: 1.25rem;
    cursor: pointer;
    width: 2rem;
    color: var(--white-color);
} 


/* Navigation foe mobile devices */

@media screen and (max-width:1150px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--container-color);
        width: 100%;
        height: 100%;
        padding-block: 3rem 7rem; 
        text-align: center;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
    
    }
}

.nav-item_link:hover{
    color: var(--white-color);
    transition:  color .4s ;
}

.nav__close{
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__icons a{
    color: var(--text-color-2);
    font-size: 1.5rem;
    padding: .2rem .4rem;
}

/* Show Menu */
.show-menu{
    top : 0 ;
}



/* Home */
.img{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.home-img{
    height: 7rem;
    border-radius: 50%;
   
}

.home__name{
    color: var(--white-color);
    text-align: center;
    font-size: var(--h1-font-size);
    line-height: 1.5;
}

.home__info{
    text-align: center;
    padding-inline: 3rem 3rem;
    font-size: .9rem;
    color: var(--text-color-2);
    line-height: 1.5;
}

.home__info span{
    color: var(--white-color);
}
.explore{
    padding: 3rem;
     display: flex;
    justify-content: center;
}

.explore__btn a{
    color:var(--white-color) ;
}
.explore__btn {
    background-color: #1B1B1D;
    padding-inline: 2rem 2rem;
    width: 12rem;
    height: 2.5rem;
    outline: none;
    border: transparent ;
}

.explore__btn:hover{
    border:solid 1px #fff;
}

.home__icon{
    padding-inline: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__social-link{
    color: var(--white-color);
    font-size: 1.3rem;
    margin: 1rem 2rem;
}

.inspired{
    color: var(--text-color-2);
    font-size: .8rem;
    text-align: center;
    line-height: 1.5;
}

.inspired span{
    color:var(--text-color) ;
}


/* =====Work===== */

.container__details{
    padding:  0 4rem;
    
} 
.featured{
    font-size: .75rem;
    color: var(--text-color-2);
    text-transform: uppercase;
    padding-left: 2rem;
}

.others{
    margin-top: 3rem;

}
 .work__wrapper{
    width: 30rem;
    height: 15rem;
    padding-inline: 1.8rem 3rem;
    background-color: #1B1B1D;

} 
.work__wrapper:hover{
         transform: scale(1.1);
   }

.work__heading{
    margin-top: 2rem;
    color: var(--white-color);
    line-height: 1.5;
    padding-top: 1.5rem;
}

.work__details{
    margin-top: 2rem;
    color: var(--text-color-2);
    font-size: .8rem;
}

.work__info{
color: var(--text-color);
font-size: .8rem;
    
}


.live__icon{
    display: flex;
    font-size: .8rem;
    padding-top: 4rem;
    
}
.icon{
    margin-right:.3rem;
    color: var(--text-color-2);
    transition: color .4s ;
}
.icon i:hover{
    color: var(--white-color);
}

.live__icon a{
    color: var(--text-color);
    font-weight: var(--font-regular);
}





/*=========BREAKPOINTS======= */

/* For large devices */
@media screen and  (min-width: 1150px ){

    .nav {
        display: none;
    }

    

    .home-main{
        padding-inline: 2rem;
    }

    

    .home__name{
        font-size: 2rem;
        line-height: 1.4; 
        text-align: left;
        padding-inline: 3rem; 
        margin-top: 2rem;
        
        

    }

    .img{
        position: relative;
    }

    .home-img{
        position: absolute;
        bottom: -24rem;
        left: 2.8rem;
        height: 4rem;
    }

    .home__info{
        text-align: left;
    }

    .details-section{
        padding-top: 2rem;
            
    }
    .details-section:hover{
         color: var(--white-color);
    }

    .details {
        display: flex;
        padding-inline: 3rem;
        align-items: center;     
        padding-left: 2rem;   
    }

    .num:hover{
        color: var(--white-color);
    }
    .line-info a:hover{
         color: var(--white-color);
    }

    .line-info {
        height: 1px;
        width: 2rem;
        background-color: var(--text-color-2);
    }

    .num{
        margin: 1rem;
    }

    .work-link{
        margin: 1rem;
    }

    .info:hover{
     color: #fff;
    }

    .line-info-link{
        color: white;
        width: 3rem;
    }

    .details a, h3{
     color: var(--text-color-2);  
     font-size: .8rem; 
    }
    

   .explore{
    display: none;
   }

   .home__icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7rem;
    margin-top: 2rem;
   }

   .home__icon a{
    margin:  .7rem;
   }

   .home__icon span{
    color: var(--white-color);
     font-size: .8rem; 
   }

   .nav__social-link{
    font-size: .9rem;
    color: var(--text-color-2);
    
   }
   .nav__social-link i{
    margin: .2rem;
   }

   .inspired{
    display: flex;
    margin-top: 3rem;
    padding-left: 2.7rem;
   }

   .inspired span{
    margin: 0 .3rem;
   }


  .main{
    display: flex;
  }


  .featured{
    margin-top: 5rem;
  }
    .work__wrapper{
       width: 30rem;
       height: 13rem;
       padding-inline: 1.8rem 3rem;   
       transition: all .4s;
    }
    
    
   .work__wrapper:hover{
         transform: scale(1.1);
   }


   .live__icon a{
    transition: color .2s;
   }

  .live__icon a:hover{

    color: var(--white-color);

  }

 
}




@media  screen and (max-width:1150px) {
     br{
    display: none;
}   
   
  .details-section{
    display: none;
  }

  .home__icon span
  {
    display: none;
  }

  .inspired{
    margin-top:2rem ;
  }

    
   .work-desktop{
    display: none;
  }

}

@media screen and (max-width:600px){
    .work__wrapper{
    width: 25rem;
    height: 14rem;
    padding-inline: 1.2rem 2rem;
    background-color: #1B1B1D;
} 

   
}

@media screen and (max-width:450px){
      .work__wrapper{
        font-size: .9rem;
        height: 13rem;
        max-width: 18rem;
        padding-inline: 1rem;
      }
      

    


.work__heading{
    margin-top: 1.8rem;
    padding-top: 1.3rem;
}

.work__details{
    margin-top: 1.7rem;
    font-size: .7rem;
}

.work__info{
color: var(--text-color);
font-size: .7rem;
    
}

.live__icon{
    font-size: .7rem;
    padding-top: 3rem;
    
}

.container__details{
    padding:  0 2rem;
    
} 

 .work__wrapper:hover{
         transform: scale(1.1);
   }
}